.menu {
    width: 100%;
    height: 40px;
    background-color: rgb(144, 144, 144);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.menu .menu__item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.menu .menu__item:hover{
    color: rgb(62, 189, 109);
    font-size: 28px;
}
.menu .menu__item .menu__item-icon{
}
.menu .menu__item .menu__item-title{
    
}