.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header-container {
    display: flex;
    justify-content: space-between;
}
.header .header-container .header__logo {
    width: 300px;
}
.header .header-container .header__logo a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header .header-container .header__logo a:visited{
   color: inherit;
}
.header .header-container .header__logo span{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}
.header .header-container .header__logo img{
    width: 100px;
    height: 90px;
}
.header .header-container .header__info {
    width: 200px;
    height: 100px;
    background-color: rgb(238, 231, 231);
}