.app-header {
    width: 100%;
}
.app-header .app-header__container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.app-header .app-header__container .app-header__logo {
    width: 300px;
}
.app-header .app-header__container .app-header__logo a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.app-header .app-header__container .app-header__logo a:visited{
   color: inherit;
}
.app-header .app-header__container .app-header__logo span{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}
.app-header .app-header__container .app-header__logo img{
    width: 100px;
    height: 90px;
}
.app-header .app-header__container .app-header__info{
    width: 200px;
    height: 100px;
    background-color: rgb(238, 231, 231);
}