.header {
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    padding: 20px;
}
.header .header__logo {
    width: 200px;
    height: 100%;
    background-color: rgb(213, 26, 26);
    display: inline-block;
}
.header .header__info {
    width: 200px;
    height: 100%;
    background-color: rgb(238, 231, 231);
    float: right;
}