.home {
  width: 100%;
}

.home .home__carrousel {
  margin-top: 20px;
}

.home .home__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}