@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
 
/* ********* Custom Properties ********* */
:root {
  --green-color: #2e7d32;
  --green-oscuro-color: #1b5e20;
  --green-claro-color: #43a047;
  --orange-color: #b16226;
  --lightblue-color: #08548a;
  --yellow-color: #ffeb3b;
  --yellow-claro-color: #ffee58;
  --yellow-oscuro-color: #ffff00;
  --white-color: #fff;
  --white-alpha-color: rgba(255,255,255,0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0,0,0,0.5);
  --grey-color: #bdbdbd;
  --grey-alpha-color: #eeeeee;
  --text-color: #222;
  --font: 'Chakra Petch', sans-serif;
}

/* ********* Reset ********* */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body{
  margin: 0px;
  overflow-x: hidden;
}
a:hover {
opacity: 0.75;
}
a:active {
color:white;
}
h1{
  margin: 0;
  font-size: 2rem;
}
h2{
margin: 0;
font-size: 1.5rem;
}
h3{
margin: 0;
font-size: 1.5rem;
}
h4{
margin: 0;
font-size: 1.3rem;
}
p {
font-size: 0.9rem;
}
span {
font-size: 1.2rem;
}

/* ********* Components ********* */


/* ********* Utilities ********* */

.app{
  width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
}
.box-shadow-1{
  box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.25);
}

.box-shadow-2{
  box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.5);
}
.d-flex{
  display: flex;
}
.d-none{
  display: none;
}
