.futbol {
    width: 100%;
}

.futbol .futbol-card {
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    color: var(--green-color);
    margin-top: 20px;
    overflow: hidden;
}

.futbol .futbol-card img {
    width: 100%;
    height: 100%;
}

.futbol .futbol-card .futbol-card__info {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.futbol .futbol-card .futbol-card__info h1 {
    padding: 10px;
}

.futbol .futbol-card .futbol-card__info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    overflow: auto;
    height: 130px;
}

.futbol .futbol-card .futbol-card__info-grid .futbol-card__info-grid-caracteristicas,
.futbol-card__info-grid-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.futbol .futbol-card .futbol-card__info-grid .futbol-card__info-grid-caracteristicas p {
    margin: 4px;
}

.futbol .futbol-card .futbol-card__info-grid .futbol-card__info-grid-servicios p {
    margin: 4px;
}

.futbol .futbol-card .futbol-card__info .futbol-card__info-button {
    display: flex;
    justify-content: center;
    align-items: center;
}